@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

:root{
    --main-bg-color:#E9E9E9;
    --primary-text-color:#424242;
    --accent-color:#FF3F3C;
    --bullet-specs: no-repeat center left;
    --center: center;
    --zero: 0;
}

body{
    font-family: "Inter", sans-serif;
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    margin: var(--zero);
    padding: var(--zero);
}

header{
    padding: 20px;
    margin-bottom: 100px;
}

header h1{
    margin: var(--zero);
    font-size: 1.5em;
}

main{
    background: url('/images/Polaroid.png') no-repeat center 200px;
    margin: 0 auto;
    width: 1000px;
}

h3{
    text-align: var(--center);
    font-size: 2.75em;
}

.hero{
    text-align: var(--center);
    min-height: 910px;
}

.hero h2{
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: var(--zero);
}

.details p{
    width: 650px;
    text-align: var(--center);
    margin: auto;
}

.details ul li{
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 30px;
}

.details ul li.wifi{
    background: url('/images/wifi.svg') var(--bullet-specs);
}

.details ul li.cloud{
    background: url('/images/cloud.svg') var(--bullet-specs);
}

.details ul li.qr{
    background: url('/images/qrcode.svg') var(--bullet-specs);
}

.details ul li.photo{
    background: url('/images/photo.svg') var(--bullet-specs);
}

form{
    background: #E2E2E2;
    margin-left: auto;
    margin-right: auto;
    width: 425px;
    text-align: var(--center);
    padding: 30px;
    border-radius: 20px;
}

input[type=text]{
    width: 275px;
    border: none;
    padding: 15px;
}

input[type=button]{
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 15px;
}